.opinion{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 900px;
}

.centro-salud{
    display: flex;
    align-items: center;
    color: rgb(122, 122, 117);
}

.texto-centro{
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    & h3{
        margin: 0;
    }
    & button{
        padding: 10px;
        border-radius: 10px;
        border-width: 1 px;
    }
}

.comentarios-nota{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.presupuesto{
    background-color: rgb(106, 109, 109);
    color: white;
}
.nota{
    background-color: #c4b6ad;
    padding: 10px;
    border-radius: 10px;    
}
