.formulario{
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(110,110,110,1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    font-family: 'Courier New', Courier, monospace;

    & div{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    & button{
        background-color: rgb(72, 111, 196) ;
        border-radius: 15px;
        border-style: solid;
        border-width: 1px;
        align-self: center;
        height: 30px;
    }

    & button:hover{
        background-color: rgb(65, 70, 78);
        cursor: pointer;
    }

}